.vjs-theme-fantasy {
  border-radius: 4px;
}
.vjs-theme-fantasy .vjs-control-bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  border-top: 1px solid #666;
}
.vjs-theme-fantasy .vjs-control-bar .vjs-play-control {
  color: #fff;
}
.video-js {
  width: 800px;
  height: 456px;
  background: black;
}
.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  content: "";
  background-image: url("./button.png");
  background-repeat: no-repeat;
  background-size: 80px;
  border-radius: 50%;
  background-position: 55% calc(50% - 0px);
  border: none !important;
  box-shadow: none !important;
  z-index: 1;
}
.vjs-control-bar {
  height: 54px;
  z-index: 10;
}

.vjs-theme-fantasy .vjs-button > .vjs-icon-placeholder::before {
  line-height: 54px;
}

.vjs-theme-fantasy .vjs-time-control {
  line-height: 54px;
}

.vjs-theme-fantasy .vjs-play-control {
  font-size: 1.5em;
  position: relative;
}

.vjs-theme-fantasy .vjs-volume-panel {
  order: 0;
}

.vjs-theme-fantasy .vjs-volume-bar {
  margin-top: 2.5em;
}

.vjs-theme-city
  .vjs-volume-panel:hover
  .vjs-volume-control.vjs-volume-horizontal {
  height: 50%;
}

.vjs-theme-fantasy .vjs-progress-control .vjs-progress-holder {
  font-size: 1.5em;
}
.video-js .vjs-picture-in-picture-control {
  display: none;
}

.vjs-theme-fantasy .vjs-progress-control:hover .vjs-progress-holder {
  font-size: 1.5em;
}

.vjs-theme-fantasy .vjs-play-control .vjs-icon-placeholder::before {
  height: 1.3em;
  width: 1.3em;
  margin-top: 0.2em;
  border-radius: 1em;
  border: 3px solid rgb(255, 255, 255);
  top: 2px;
  left: 9px;
  line-height: 1.1;
}

.vjs-theme-fantasy .vjs-play-control:hover .vjs-icon-placeholder::before {
  border: 3px solid rgb(255, 255, 255);
}

.vjs-theme-fantasy .vjs-play-progress {
  background-color: #f7a600;
}

.vjs-theme-fantasy .vjs-play-progress::before {
  height: 0.8em;
  width: 0.8em;
  content: "";
  background-color: #f7a600;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0.8em;
  top: -0.25em;
}

.vjs-theme-fantasy .vjs-progress-control {
  font-size: 14px;
}

.vjs-theme-fantasy .vjs-fullscreen-control {
  order: 4;
}

.vjs-theme-fantasy .vjs-remaining-time {
  display: none;
}

.vjs-text-track {
  background-color: transparent;
  color: #fff;
}

.vjs-text-track-display {
  color: white;
  font-size: 1.5em;
  stroke: black;
  font-family: Inter;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
}

.video-container {
  position: relative;
}

.sound-icons {
  position: relative;
  z-index: 999;
}
.mute-icon {
  position: absolute;
  display: block;
  bottom: 120px;
  left: 1.5em;
}
.mute-icon:hover {
  cursor: pointer;
}
.mute-icon .bi {
  font-size: 1.8em;
  color: #fff;
}
.volume {
  position: relative;
  display: block;
}

.volume-icon {
  position: absolute;
  bottom: 120px;
  left: 1.5em;
  display: none;
}

.volume-icon:hover {
  cursor: pointer;
}

.volume-icon .bi {
  font-size: 1.8em;
  color: #fff;
}

.wrapper {
  position: relative;
  width: 50px;
  height: 50px;
  bottom: 50%;
  left: 43%;
}
.blob {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  height: 90px;
  width: 90px;
  transform: scale(1);
  animation: pulse-orange 2s infinite;
  z-index: -1;
  opacity: 0.5;
  top: 5px;
  left: 13px;
}
.wrapper-overlay {
  position: relative;
  width: 100%;
  height: 50px;
  z-index: 0;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0%, -100%);
  width: 100%;
  height: 100%;
  background: rgb(255, 207, 1);
  background: linear-gradient(
    180deg,
    rgba(255, 207, 1, 0) 0%,
    rgba(255, 207, 1, 1) 100%
  );

  z-index: -99;
}

.overlay-title {
  position: relative;
  display: flex;
  width: 328px;
  height: 57px;
  margin: 0 auto;
  opacity: 1;
}

.overlay-title p {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translate(0%, -100%);
  font-family: "Inter", sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-align: center;
  margin: 20px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: -98;
}
.blob.orange {
  background: rgba(245, 188, 0, 0.6);
  box-shadow: 0 0 0 0 rgba(245, 188, 0, 0.6);
  animation: pulse 2.2s infinite;
}

.blob2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  height: 120px;
  width: 120px;
  transform: scale(1);
  animation: pulse-orange 2s infinite;
  z-index: -1;
  opacity: 0.5;
  top: -10px;
  left: -3px;
}
.blob2.orange {
  background: rgba(245, 188, 0, 0.3);
  box-shadow: 0 0 0 0 rgba(245, 188, 0, 0.3);
  animation: pulse 2.2s infinite;
}

@keyframes pulse-orange {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

@media only screen and (max-width: 640px) {
  .video-js {
    width: 360px;
    height: 246px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    border-radius: 4px;
  }
  .wrapper-overlay {
    height: 10px;
    z-index: 0;
  }
  .wrapper {
    bottom: 55%;
    left: 34%;
    z-index: 0;
    width: 100%;
  }
  .overlay-title {
    position: relative;
    display: flex;
    width: 328px;
    height: 57px;
    margin: 0 auto;
    opacity: 1;
  }
  .overlay-title p {
    top: 100%;
  }
}

@media only screen and (max-width: 360px) {
  .video-js {
    width: 300px;
    height: 206px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    border-radius: 4px;
  }
  .wrapper-overlay {
    height: 10px;
    width: 100%;
    z-index: 0;
  }
  .wrapper {
    bottom: 56%;
    left: 34%;
    z-index: 0;
    width: 100%;
  }
  .overlay-title p {
    top: 120%;
    font-size: 16px;
  }
  .sound-icons {
    left: -10px;
  }
}
@media only screen and (max-width: 300px) {
  .video-js {
    width: 260px;
    height: 206px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    border-radius: 4px;
  }
  .wrapper-overlay {
    height: 10px;
    width: 100%;
    z-index: 0;
  }
  .wrapper {
    bottom: 56%;
    left: 28%;
    z-index: 0;
    width: 100%;
  }
  .overlay-title {
    width: 240px;
  }
  .overlay-title p {
    top: 110%;
    left: 10%;
    font-size: 12px;
  }
  .sound-icons {
    left: -10px;
  }
}
