.vjs-theme-fantasy {
  border-radius: 4px;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  content: "";
  background-image: url("./button.png");
  background-repeat: no-repeat;
  background-size: 46px;
  background-position: 55% calc(50% - 0px);
  border: none !important;
  box-shadow: none !important;
}
.vjs-control-bar {
  height: 54px;
}

.vjs-theme-fantasy .vjs-button > .vjs-icon-placeholder::before {
  line-height: 54px;
}

.vjs-theme-fantasy .vjs-time-control {
  line-height: 54px;
}

.vjs-theme-fantasy .vjs-play-control {
  font-size: 1.5em;
  position: relative;
}

.vjs-theme-fantasy .vjs-volume-panel {
  order: 0;
}

.vjs-theme-fantasy .vjs-volume-bar {
  margin-top: 2.5em;
}

.vjs-theme-city
  .vjs-volume-panel:hover
  .vjs-volume-control.vjs-volume-horizontal {
  height: 50%;
}

.vjs-theme-fantasy .vjs-progress-control .vjs-progress-holder {
  font-size: 1.5em;
}
.video-js .vjs-picture-in-picture-control {
  display: none;
}

.vjs-theme-fantasy .vjs-progress-control:hover .vjs-progress-holder {
  font-size: 1.5em;
}

.vjs-theme-fantasy .vjs-play-control .vjs-icon-placeholder::before {
  height: 1.3em;
  width: 1.3em;
  margin-top: 0.2em;
  border-radius: 1em;
  border: 3px solid rgb(255, 255, 255);
  top: 2px;
  left: 9px;
  line-height: 1.1;
}

.vjs-theme-fantasy .vjs-play-control:hover .vjs-icon-placeholder::before {
  border: 3px solid rgb(255, 255, 255);
}

.vjs-theme-fantasy .vjs-play-progress {
  background-color: #f7a600;
}

.vjs-theme-fantasy .vjs-play-progress::before {
  height: 0.8em;
  width: 0.8em;
  content: "";
  background-color: #f7a600;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0.8em;
  top: -0.25em;
}

.vjs-theme-fantasy .vjs-progress-control {
  font-size: 14px;
}

.vjs-theme-fantasy .vjs-fullscreen-control {
  order: 4;
}

.vjs-theme-fantasy .vjs-remaining-time {
  display: none;
}

.vjs-text-track {
  background-color: transparent;
}

.vjs-text-track-display {
  font-size: 1em;
}

@media only screen and (max-width: 640px) {
  .video-js {
    width: calc(100% - 20px);
    height: 246px;
    margin: 40px auto;
    display: block;
    border-radius: 4px;
  }
}

@media only screen and (max-width: 360px) {
  .video-js {
    width: calc(100% - 20px);
    height: 206px;
    margin: 40px auto;
    display: block;
    border-radius: 4px;
  }
}
